.input-text-center input {
  text-align: center;
}

.sheets_upload {
  padding: 50px;
}

._button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 12px;
  margin-bottom: 20px;
}
.table_main {
  width: 100%;
  overflow-x: auto;
  display: none;
}

.table {
  width: 1100px;
  margin: auto;
  max-width: unset;
  border: 1px solid #ddd;
}

#editing td:nth-child(1),
td:nth-child(2),
td:nth-child(3) input {
  pointer-events: none;
}

.second_page,
.show_btn_td {
  display: none;
}

._btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.back_btn,
.submit_btn {
  display: none;
}

.error_msg {
  display: none;
  margin-right: 20px;
  font-size: 1.4rem;
  color: red;
  font-weight: 600;
}

.option_row:hover {
  cursor: pointer;
  background-color: #35a630 !important;
  color: white;
}

.option_row_color {
  background-color: #35a630 !important;
  color: white;
  box-shadow: 0px 0px 5px -1px #35a630;
}

@media only screen and (max-width: 600px) {
  .table_main {
    margin-left: 2.5%;
    width: 95%;
  }
  #masterSheetTable {
    border: none;
    width: min-content;
  }
  .show_btn_td {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #masterSheetTable thead {
    display: none;
  }

  #masterSheetTable,
  #masterSheetTable tbody,
  #masterSheetTable tr {
    display: block;
    width: 100%;
  }
  #masterSheetTable tr {
    margin-bottom: 15px;
  }
  #masterSheetTable .all_td {
    text-align: left;
    padding-left: 48%;
    position: relative;
  }
  #masterSheetTable td {
    border: 1px solid #ddd;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    outline: none;
  }
  #masterSheetTable .all_td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  #masterSheetTable td[name="buttons"] {
    display: flex;
    justify-content: center;
  }

  .main_val {
    padding: 2px 2px 2px 5px;
    width: 100%;
  }

  .main_val:focus {
    outline: 1.4px solid #35a630;
  }

  .first_td {
    display: flex !important;
    flex-direction: row;
  }

  #masterSheetTable td[data-label="Item Code"] {
    display: none !important;
  }

  .hidden_class {
    display: none;
  }
}

.btn-toggle {
  top: 10px;
  margin: 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2rem;
  line-height: 2rem;
  border-radius: 1.5rem;
  width: 4.5rem;
  outline: none;
  background: #7c8288;
  margin-bottom: 24px;
}
.btn-toggle:focus {
  outline: none !important;
}
.btn-toggle:before,
.btn-toggle:after {
  width: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  color: #fff;
  letter-spacing: 0.75px;
  left: -0.4rem;
  width: 4.25rem;
}

.btn-toggle:before {
  text-align: right;
}
.btn-toggle:after {
  left: 0.6rem;
  text-align: left;
  opacity: 0;
}

.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active > .handle {
  left: 2.6rem;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
  background-color: #35a630;
}
.btn-toggle.active:before {
  opacity: 0;
}
.btn-toggle.active:after {
  opacity: 1;
}
