body {
  background: #eeebf2;
}

.main .btn {
  border-radius: 0px !important;
}

.topHeader {
  width: 100%;
  height: 60px;
  color: black;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.36);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 7%;
}

.category_btn::-webkit-scrollbar {
  height: 6px;
  visibility: hidden;
}

.category_btn::-webkit-scrollbar-track {
  background-color: #eeebf2;
  border-radius: 0px;
}

.category_btn::-webkit-scrollbar-thumb {
  background-color: #bcbcc2;
  border-radius: 0px;
}

.category_btn_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  margin-bottom: 22px;
  background-color: white;
}

.leftSideScroll {
  width: 28px;
  display: none;
  z-index: 10;
  cursor: pointer;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ddd;
}
.rightSideScroll {
  width: 28px;
  display: none;
  z-index: 10;
  cursor: pointer;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ddd;
}

.leftSideScroll i,
.rightSideScroll i {
  font-size: 20px;
  color: #999;
}

.leftSideScroll i:hover,
.rightSideScroll i:hover {
  transition: 0.3s;
  color: #666;
}

.category_btn input {
  display: none;
}
.category_btn {
  display: flex;
  flex-direction: row;
  border-right: 1px solid #ddd;
  overflow: auto;
  font-size: 0.88em;
}
.category_btn input:checked + label,
.category_btn input:checked + label:active {
  background-image: linear-gradient(to bottom, #e2e2e2, #ffffff);
}

.category_btn input:checked + label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #3691ca;
  left: 0;
  top: 0px;
}

.category_btn input:checked + label::after {
  left: 50%;
  border: 6px solid #3691ca;
  content: "";
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 2px;
  transform: translateX(-50%);
}

.switch_btn {
  padding: 10px 20px;
  border-left: 1px solid #ddd;
  display: flex !important;
  margin-bottom: 0px !important;
  position: relative;
}

.switch_btn:hover {
  background-image: linear-gradient(to bottom, #e2e2e2, #ffffff);
}

.input-text-center input {
  text-align: center;
}

.category_style {
  display: flex;
  flex-direction: row;
}

.name_code_style {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  word-break: break-all;
}

.item_code {
  font-size: 0.85em;
  font-weight: 600;
  color: #240090;
  margin-top: 3px;
}

.category_icon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #35a630;
  background: #35a630;
  color: white;
  border-radius: 22px;
  font-weight: 600;
  font-size: 0.8em;
}

.searchMain {
  display: none;
  flex-direction: row;
  margin-left: 5px;
  width: 100%;
  justify-content: flex-end;
}

.searchMain .input-group {
  width: 450px;
}

.searchMain .dropdown-menu {
  left: auto !important;
  top: auto !important;
}

.searchMain .btn {
  border-radius: 0px !important;
}

.noDataDiv {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  background: white;
}

.addMoreBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}

.searchButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.addItemForm {
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
  width: 400px;
  display: none;
  position: absolute;
  top: 55px;
  z-index: 10;
}
.add_item_form {
  padding: 15px;
}
.close_btn {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 10px;
}

.close_btn span {
  font-size: 1.8em;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

#searchInput {
  background: #fff url("http://i.stack.imgur.com/mJotv.gif") no-repeat right -10px
    center;
  padding: 3px 18px 3px 4px;
  transition: background 0.4s;
  background-size: 9px;
}
#searchInput.x {
  background-position: right 5px center;
}
#searchInput.onX {
  cursor: pointer;
}
#searchInput::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.ui-autocomplete,
.scrollable-dropdown {
  height: auto;
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 1001;
}

.ui-autocomplete::-webkit-scrollbar {
  width: 10px;
  visibility: hidden;
}

.ui-autocomplete::-webkit-scrollbar-track {
  background-color: #eeebf2;
}

.ui-autocomplete::-webkit-scrollbar-thumb {
  background-color: #bcbcc2;
}

.first_visible_td {
  display: flex !important;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

table > tbody > tr > td > span.footable-toggle {
  margin-right: 5px !important;
}

.editable_cell_style,
.editable_cell {
  color: #5d78ff;
  font-weight: 600;
}

._button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main {
  width: 100%;
  overflow-x: auto;
  max-width: 1100px;
  margin: auto;
  padding: 5px;
  padding-bottom: 20px;
  padding-top: 0px;
}
.table_main {
  margin-top: 85px;
  display: none;
}

.topDatatable {
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
  background: white;
  border-radius: 0px;
  margin-bottom: 20px !important;
}

.topDatatable td {
  vertical-align: top;
  font-weight: 600;
  color: #666;
  width: 25%;
}

.topDatatable .title_ {
  white-space: nowrap;
  color: #888;
  padding: 7px 0px 10px 20px;
}

.topDatatable .value_ {
  padding: 7px 0px 10px 5px;
}

.tr_1td {
  border-bottom: 1px solid #ddd;
}

.panel-default,
.first_table {
  border: 1px solid #ddd;
}

.first_table {
  background: white;
  margin-bottom: 0px;
}

.first_page_table_div {
  width: 100%;
  overflow: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
  background: white;
}

.first_page_1 {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
  background: white;
  border-radius: 0px;
  padding: 10px;
}

.panel_default {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
  background: white;
  border-radius: 0px !important;
  margin-bottom: 20px !important;
  border-left: 10px solid #35a630;
}

.panel_default_active {
  border: 1px solid #5e7eca;
  box-shadow: 0 0 6px 0 #5e7eca;
  border-left: 10px solid #35a630;
}

.panel_default:hover {
  border: 1px solid #5e7eca;
  box-shadow: 0 0 5px 0 #5e7eca;
  border-left: 10px solid #35a630;
}

.collapse_heading {
  background-color: #fff !important;
  border-color: #ddd !important;
  padding: 2px 15px 2px 10px;
}

.panel-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
}

.panel1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.panel1 a:hover {
  text-decoration: none;
}

.panel_category {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  flex: 0.15;
}

.panel1_rows,
.panel2_rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.85;
}

.panel1_row,
.panel2_row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-flow: wrap;
}

.TotalSumItemWght,
.TotalSumItemValues,
.TotalSumItemQty,
.fnt_size {
  font-weight: 600;
  font-size: 0.8em;
  color: #666;
  padding: 0 2px;
}

.d_f_c {
  display: flex;
  flex-direction: column;
}
._title_St {
  /* font-size: 0.9em; */
  font-weight: 600;
  color: #999;
}
.fnt_size {
  width: 33%;
}

.total_rows {
  font-weight: 600;
  color: #666;
}

.more_details_main {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  cursor: pointer;
  border-top: 1px solid #e2e2e2;
  margin-top: 20px;
  padding-top: 7px;
  margin-bottom: 7px;
}

.more_details {
  font-size: 0.8em;
  color: #3691ca;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  flex: 0.15;
  white-space: nowrap;
}

.more_details .fa {
  font-weight: 500 !important;
  font-size: 1.2em;
}

.collapse_caret {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.more_details:hover {
  opacity: 0.8;
}

.second_page,
.first_page_1 {
  display: none;
}

._btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}

.back_btn,
.submit_btn {
  display: none;
}

.error_msg {
  display: none;
  margin-right: 20px;
  font-size: 1.4rem;
  color: red;
  font-weight: 600;
}

.option_row {
  cursor: default;
}

.option_row_hover:hover {
  cursor: pointer;
  background-color: #35a630 !important;
  color: white;
}

.option_row_color {
  background-color: #35a630 !important;
  color: white;
  box-shadow: 0px 0px 5px -1px #35a630;
}

._select_td {
  display: flex;
  flex-direction: row;
  align-items: center;
}

._mobile_select_td {
  display: none;
  flex-direction: row;
  align-items: center;
}

.masterSheetTable tbody td {
  position: relative;
}

table > tbody > tr > td > span.footable-toggle {
  color: #35a630 !important;
  opacity: 1 !important;
  position: absolute;
  top: 10px;
  left: 4px;
  width: 96%;
  height: -webkit-fill-available;
}

.uploadFiles_label {
  display: block;
  color: black;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: 18px;
  right: 5%;
  cursor: pointer;
  margin-bottom: 0px;
}
input[id="uploadFiles"] {
  display: none;
}

label[for="uploadFiles"]:after {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  content: "+ Upload";
  background: #f0cd4e;
  width: fit-content;
  font-size: 14px;
  color: white;
  font-weight: 600;
  padding: 6px 11px;
  border-radius: 0px;
  box-shadow: 0px 2px 4px 0px rgba(94, 75, 31, 0.1);
  white-space: nowrap;
}

label[for="uploadFiles"]:hover:after {
  background: #f0ad4e;
}

.addressTooltip {
  position: relative;
}
.addressTooltip span {
  margin-left: -999em;
  position: absolute;
  padding: 0.5em;
  background: #fff;
}
.addressTooltip:hover span {
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.36);
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: -2em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}
.addressTooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.addressTooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

/* top data choose Stepper start */
.stepTopmain {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.stepperMain {
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
  background: white;
  border-radius: 0px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 2px solid red;
}

.stepHead {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepsC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  background: floralwhite;
  cursor: default;
}

.stepActive {
  background: #35a630 !important;
  color: white !important;
}

.stepLine {
  height: 2px;
  height: 2px;
  width: 5em;
  background: floralwhite;
}

.stepperInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  width: 100%;
}
.stepperFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.steps-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

._steps {
  width: 100%;
}

.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 2em;
}

#scheduledDate,
#fromDate,
#toDate > span:hover {
  cursor: pointer;
}
/* top data choose Stepper end */

/* Top bar info form start */
.topBarInfoForm {
  width: 350px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
  background: white;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 10px;
  display: none;
}

.topBarInfoForm input {
  margin-bottom: 10px;
}
/* Top bar info form end */

.selectErrorMsg,
.sameValueErrorMsg {
  margin-top: -0.5rem;
  color: red;
  display: none;
}

.stepErrorMsg {
  margin: 0px;
  margin-top: 3px;
  color: red;
  display: none;
}

.addMoreBtn button {
  color: white;
  background-color: #1acf32;
}

.addMoreBtn button:hover {
  color: white !important;
  background-color: #1acd32 !important;
  outline: none !important;
  border-color: #1acd32;
}

.addMoreBtn button:focus {
  color: white !important;
  background-color: #1acd32 !important;
  outline: none !important;
  border-color: #1acd32;
}

#backToTop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  height: 40px;
  width: 40px;
  z-index: 50;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #35a630;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxwYXRoIGQ9Ik0wIDEwbDEuNzYyNSAxLjc2MjVMOC43NSA0Ljc4NzVWMjBoMi41VjQuNzg3NWw2Ljk3NSA2Ljk4NzVMMjAgMTAgMTAgMHoiIGZpbGw9IiNmZmZmZmYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  opacity: 0.5;
  cursor: pointer;
  display: none;
}
#backToTop:hover {
  background-color: #35a630 !important;
  opacity: 1 !important;
  border-color: #35a630 !important;
}

@media only screen and (max-width: 1100px) {
  .topHeader {
    padding-right: 5px;
  }
}

@media only screen and (max-width: 768px) {
  ._mobile_select_td {
    display: flex;
  }
  ._select_td {
    display: none;
  }
  .first_table_1 tbody {
    display: none;
  }
  .first_table_1 {
    width: 100% !important;
  }
  .mob_tr {
    display: flex;
    flex-direction: column;
  }

  .mob_head_style {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .topDatatable {
    font-size: 0.8em;
  }

  .topDatatable .title_ {
    white-space: normal;
    padding: 5px;
  }

  .topDatatable .value_ {
    padding: 5px;
  }

  .category_style {
    margin-left: 14px;
  }

  .editable_cell {
    color: #5d78ff;
    font-weight: 600;
  }
  .searchMain .input-group {
    width: 100%;
  }
  .panel1_rows,
  .panel2_rows {
    margin-left: 2em;
  }

  .panel_default .panel-body {
    font-size: 0.85em !important;
  }
}

@media only screen and (max-width: 600px) {
  .addItemForm {
    width: 300px;
  }
  .collapse_heading {
    padding: 2px 10px 2px 6px;
  }
  .panel_default {
    border-left: 6px solid #35a630;
  }
  .panel_default:hover {
    border-left: 6px solid #35a630;
  }
  .topDatatable {
    font-size: 0.7em;
  }
  .dnone_mob {
    display: none;
  }
  .topDatatable,
  .category_btn_main,
  .panel_default {
    margin-bottom: 12px !important;
  }
  .panel_default .panel-body {
    font-size: 0.8em !important;
    padding: 7px !important;
  }
  .category_icon {
    font-size: 0.65em;
    width: 20px !important;
    height: 20px !important;
  }

  .panel_default .panel-body .category_icon {
    font-size: 1em;
  }
  .more_details_main {
    margin-top: 8px;
  }

  .TotalSumItemWght,
  .TotalSumItemValues,
  .TotalSumItemQty,
  .cat_text,
  .fnt_size {
    font-size: 0.65em !important;
  }
  .cat_text {
    margin-left: 4px !important;
  }

  .category_style {
    margin-left: 11px !important;
  }

  .name_code_style {
    margin-left: 6px;
  }

  label[for="uploadFiles"]:after {
    content: "êœ›";
    height: 26px;
    font-size: 30px;
    font-weight: 600;
    padding: 0px 6px;
    padding-top: 13px;
  }
  .topHeader {
    height: 52px;
  }
  .table_main {
    margin-top: 70px;
  }
  #searchInput {
    height: 26px;
  }
  .moreColumn {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .stepTopmain {
    width: 100%;
  }

  .sheets_upload {
    margin-left: 5px !important;
  }
  .rightSideScroll,
  .leftSideScroll {
    height: 40px !important;
  }

  .searchMain .btn {
    padding: 3px 6px;
    height: 26px;
  }
  .switch_btn {
    padding: 8px 15px;
  }
  .category_btn input:checked + label::after {
    left: 50%;
    border: 4px solid #3691ca;
    content: "";
    position: absolute;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    top: 2px;
    transform: translateX(-50%);
  }
  .more_details {
    font-size: 0.65em;
  }
  .panel1_rows,
  .panel2_rows {
    margin-left: 0.6em !important;
  }

  .panel1_row,
  .panel2_row {
    justify-content: space-between !important;
  }

  .fnt_size {
    width: auto !important;
  }

  .m_b_4 {
    margin-bottom: 4px;
  }
}

.TotalSumItemValues {
  display: none !important;
}

td.footable-sortable > span.fooicon,
th.footable-sortable > span.fooicon {
  margin-top: -4px !important;
  opacity: 0.4;
  font-size: 0.8em !important;
}

.alignLeft {
  text-align: left !important;
}
.alignRight {
  text-align: right !important;
}
